<section id="about">
<div class="container">
<h2 class="text-center">ABOUT</h2>

<div class="liner ">
<div class="right-line mt-3"></div>
<div class="icon-star ">
<i class="fa-solid fa-star"></i>
</div>
<div class="left-line mt-3"></div>
</div>

<div class="row p-5">
  <div class="col-md-6">
    <div>
      <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
    </div>
  </div>

  <div class="col-md-6 w-50">
    <div>
      <p>You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p>
    </div>
  </div>
</div>


</div>
</section>
