
<section id="contact">
  <div class="container">
    <h2 class="text-center">CONTACT ME  </h2>
    <div class="liner ">
      <div class="right-line mt-3"></div>
      <div class="icon-star ">
      <i class="fa-solid fa-star"></i>
      </div>
      <div class="left-line mt-3"></div>
      </div>

      <div class="row   ">
<div class="col-md-12 ">
  <div class="">
    <form class="">

      <label>Name</label>
        <input class="form-control form-control-lg w-75  required mb-3 "   type="text" placeholder="Name"  >

      <label>Email Address</label>
       <input  class="form-control form-control-lg w-75  required mb-3 "    type="text" placeholder="Email Adress" >

      <label>Phone Number</label>
       <input class="form-control form-control-lg w-75  required mb-3 "  type="number" placeholder="Phone Number" >

       <label>Message</label>
       <textarea class="form-control form-control-lg w-75  required mb-3 "  type="text" placeholder="Message" ></textarea>

              <button type="button" class="btn btn-info p-4">Send</button>
    </form>
      </div>
          </div>

               </div>



   </div>
</section>
